<h2>【ペース超過のお知らせ】</h2>

<p><strong><%= @category_name %></strong>の支出ペースが速すぎます。</p>

<table>
  <tr>
    <td>予算</td>
    <td><%= number_with_delimiter(@budget_amount) %> 円</td>
  </tr>
  <tr>
    <td>現在の支出</td>
    <td><%= number_with_delimiter(@spent) %> 円</td>
  </tr>
  <tr>
    <td>支出ペース</td>
    <td><%= @pace_rate %> %（理想比）</td>
  </tr>
</table>
